<div class="d-flex" style="min-height: 100vh;">
    <nav class="bg-light border-end" style="width: 250px;">
        <div class="p-3">
            <h4>Меню</h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_dashboard') }}">Главная</a>
                </li>
                {% if 'ROLE_OWNER' in app.user.roles %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_organization_settings') }}">Настройки организации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_list') }}">Сотрудники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_promo_code_type') }}">Типы промокодов</a>
                    </li>
                {% endif %}
                {% if 'ROLE_USER' in app.user.roles %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_edit', {id: app.user.id}) }}">Профиль</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_promo_code') }}">Мои промокоды</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#promoMenu" role="button" aria-expanded="false" aria-controls="promoMenu">
                        Вывод денег <span class="float-end">▼</span>
                    </a>
                    <div class="collapse" id="promoMenu">
                        <ul class="nav flex-column ps-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_withdrawals') }}">Мой вывод денег</a>
                            </li>
                            {% if 'ROLE_OWNER' in app.user.roles  %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('owner_withdrawals') }}">Вывод денег сотрудников</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Основной контент -->
    <div class="flex-fill p-3">
        {% block page_content %}{% endblock %}
    </div>
</div>
